/* Карточки в списке постов */
.model-post .field-preview_image img {
    border-radius: 8px;
    max-height: 80px;
}

/* Кнопки действий */
.button {
    background-color: #1f73b7;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
}
.button:hover {
    background-color: #155a8a;
}
